---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Experience from "../components/Experience";
import Projects from "../components/Projects";
import OpenSource from "../components/OpenSource";
import Skills from "../components/Skills";
import Contact from "../components/Contact";
---

<Layout>
  <main>
    <Hero client:load />
    <Experience client:load />
    <Projects client:load />
    <OpenSource client:load />
    <Skills client:load />
    <Contact client:load />
  </main>
</Layout>
